@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply leading-normal h-full m-0 p-0;
  color: #2f3234;
}

#__next {
  @apply h-full;
}

p {
  @apply relative z-0;
}

a {
  @apply text-black font-medium relative;
  white-space: nowrap;
}

a::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #f8e81c;
  left: -4px;
  right: -4px;
  top: 15px;
  bottom: -1px;
  transition: all 200ms ease-out;
}

a:hover::before {
  top: -2px;
  bottom: -3px;
  left: -6px;
  right: -6px;
}
